.lightbox {
    display: none;
    position: fixed;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.9);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: auto;
}

.lightbox .close {
    position: absolute;
    top: 30px;
    right: 40px;
    color: white;
    font-size: 35px;
    cursor: pointer;
}

.lightbox img {
    max-width: 90%;
    max-height: 75%;
    border-radius: 10px;
}

.caption {
    color: #fff;
    margin-top: 20px;
    font-size: 14px;
    text-align: center;
    max-width: 90vw;
}

.lightbox .nav {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: white;
    font-size: 50px;
    padding: 0 40px;
    transform: translateY(-50%);
    cursor: pointer;
}

@media (max-width: 768px) {
    .lightbox {
        padding: 30px 0;
        overflow: auto;
        justify-content: normal;
    }

    .lightbox .nav {
        font-size: 20px;
        position: relative;
        top: 15px;
        width: 120px;
    }
}